html, body {
	height: 100%;
}

body > .angular-bootstrap-contextmenu.dropdown {
    background-color: rgba(0, 0, 0, 0.1);
}

.box {
	cursor: pointer;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 0em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

a.range {	
	text-decoration: none;
	cursor: pointer;
}

a.range:hover {
	color: #00d62f;
}

a.range:selected {
	color: #00d62f;
}

.range-selected {
	color: #00d62f;
}

.console-selected {
	/*border-bottom: 4px dotted #23527c;*/
}

img.cover:hover{
    /*-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
 -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 245, 0.67);
-moz-box-shadow:    0px 0px 50px 0px rgba(0, 0, 245, 0.67);
box-shadow:         0px 0px 50px 0px rgba(0, 0, 245, 0.67);
}
img.cover:last-of-type:hover{
    /*-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
 -webkit-box-shadow: 0px 0px 50px 0px rgba(38, 122, 245, 0.67);
-moz-box-shadow:    0px 0px 50px 0px rgba(38, 122, 245, 0.67);
box-shadow:         0px 0px 50px 0px rgba(38, 122, 245, 0.67);
}

div.cover:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(139, 151, 245, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(139, 151, 245, 0.67);
box-shadow:         0px 0px 30px 0px rgba(139, 151, 245, 0.67);
}
div.cover:last-of-type:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(38, 122, 245, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(38, 122, 245, 0.67);
box-shadow:         0px 0px 30px 0px rgba(38, 122, 245, 0.67);
}


.img-container {
  position: relative;
  text-align: center;
  color: black;
}

.img-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak {
	display: none !important;
}

/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
	background-color: #a00;
	box-shadow: 0 0 10px #888;
	left: -3.5em;
	moz-box-shadow: 0 0 10px #888;
	moz-transform: rotate(-45deg);
	ms-transform: rotate(-45deg);
	o-transform: rotate(-45deg);
	overflow: hidden;
	position: absolute;
	top: 40px;
	transform: rotate(-45deg);
	webkit-box-shadow: 0 0 10px #888;
	webkit-transform: rotate(-45deg);
	white-space: nowrap;
	width: 15em;
	z-index: 9999;
	pointer-events: none;
}

.ribbon a {
	border: 1px solid #faa;
	color: #fff;
	display: block;
	font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 1px 0;
	padding: 10px 50px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 5px #444;
	pointer-events: none;
}

inline-headers img, .inline-headers h5, .inline-headers h3,
	.inline-headers h2, .inline-headers h4 {
	display: inline-block;
	vertical-align: baseline;
	cursor: default;
}

.box:hover {
	box-shadow: 0px 0px 10px #d4d4d4;
}

.table th {
	text-align: center;
}

.table td {
	text-align: center;
}

.th-icon {
	width: 80px;
}

.jumbotron {
	height: 120px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 0px;
}

h1.page-header {
	margin-top: 20px;
	color: #0B6B9E;
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
	font-size: 26px;
}

#dock-container {
	margin-top: 0px;
	/*position: fixed;
	bottom: 0;
	top:50;
	right: 20%;
	left: 20%;
	width: 60%;*/
	text-align: center;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px 10px 0 0;
}

#dock-container li {
	list-style-type: none;
	display: inline-block;
	position: relative;
}

#dock-container li img {
	z-index: 1000;
	width: 50px;
	height: 50px;
	-webkit-transition: all 0.3s;
	-webkit-transform-origin: 50% 100%;
}

#dock-container li:hover img {
	z-index: 1000;
	-webkit-transform: scale(2);
	margin: 0 2em;
	cursor: pointer;
}

#dock-container li:hover+li img, #dock-container li.prev img {
	z-index: 1000;
	-webkit-transform: scale(1.5);
	margin: 0 1.5em;
}

#dock-container li span {
	z-index: 1000;
	display: none;
	position: absolute;
	bottom: 110px;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 4px 0;
	border-radius: 12px;
}

#dock-container li:hover span {
	display: block;
	color: #fff;
	z-index: 1000;
}

.table-bordered {
	border: 1px solid #dddddd;
	border-collapse: separate;
	border-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
}

.widget.widget-table .table {
	margin-bottom: 0;
	border: none;
}

.widget.widget-table .widget-content {
	padding: 0;
}

.widget .widget-header+.widget-content {
	border-top: none;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.widget .widget-content {
	padding: 20px 15px 15px;
	background: #FFF;
	border: 1px solid #D5D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.widget .widget-content th {
	background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%)
}

.widget .widget-header {
	position: relative;
	height: 40px;
	line-height: 40px;
	background: #E9E9E9;
	background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa),
		color-stop(100%, #e9e9e9));
	background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	text-shadow: 0 1px 0 #fff;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 1px 0 white, inset 0
		-1px 0 rgba(255, 255, 255, 0.7);
	border-bottom: 1px solid #bababa;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA',
		endColorstr='#E9E9E9');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	border: 1px solid #D5D5D5;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-background-clip: padding-box;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

.widget .widget-header h3 {
	top: 2px;
	position: relative;
	left: 10px;
	display: inline-block;
	margin-right: 3em;
	font-size: 14px;
	font-weight: 600;
	color: #555;
	line-height: 18px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"]
	{
	display: inline-block;
	margin-left: 13px;
	margin-right: -2px;
	font-size: 16px;
	color: #555;
	vertical-align: middle;
}

/*.popover {
	max-width: 100%;
	/* Max Width of the popover (depending on the container!) */
}*/
.popover-content {
width: 200px;
}

/** PARAMETERS PAGE */
i.active {
	color: #5cb85c;
}

i.inactive {
	color: #d9534f;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
	text-overflow: ellipsis;
}

.alert pre {
	background: none;
	border: none;
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
}

.alert .popover pre {
	font-size: 10px;
}

.alerts .toast {
	position: fixed;
	width: 100%;
}

.alerts .toast.left {
	left: 5px;
}

.alerts .toast.right {
	right: 5px;
}

.alerts .toast.top {
	top: 55px;
}

.alerts .toast.bottom {
	bottom: 55px;
}

@media screen and (min-width: 480px) {
	.alerts .toast {
		width: 50%;
	}
}

.ng-toast .ng-toast__message .alert {
	margin-right: 160px
}

.cursor-pointer:hover {
	cursor: pointer;
}


/** APPEARING PANELS */
.ng-pageslide {
	background: #eee;
}

body.ng-pageslide-body-open::before {
	content: '.';
	display: block;
	position: absolute;
	top: 0;
	background-color: rgb(0, 0, 0);
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0.5;
	transition: opacity 1s;
	opacity: 0.5;
	pointer-events: all;
}

body.ng-pageslide-body-closed::before {
	transition: opacity 1s;
	content: '.';
	display: block;
	position: absolute;
	top: 0;
	background-color: rgb(0, 0, 0);
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
}

#container1, #container2 {
	width: 100%;
	height: 20rem;
	border: 1px solid lightGrey;
	p
	{
	font-size
	:
	0.5rem
	!important;
}




/** TYPEWRITER DIRECTIVE EFFECT */
/* All the keyframes 'vendor prefix' versions: */
@
-webkit-keyframes blink-it { 0% {
	opacity: 1;
}

50%
{
opacity




:


 


0;
}
100%
{
opacity




:


 


1;
}
}
@
-moz-keyframes blink-it { 0% {
	opacity: 1;
}

50%
{
opacity




:


 


0;
}
100%
{
opacity




:


 


1;
}
}
@
-o-keyframes blink-it { 0% {
	opacity: 1;
}

50%
{
opacity




:


 


0;
}
100%
{
opacity




:


 


1;
}
}
@
keyframes blink-it { 0% {
	opacity: 1;
}

50%
{
opacity




:


 


0;
}
100%
{
opacity




:


 


1;
}
}

/* Blinking class */
.blink {
	-webkit-animation: blink-it steps(1) 1s infinite;
	-moz-animation: blink-it steps(1) 1s infinite;
	-ms-animation: blink-it steps(1) 1s infinite;
	-o-animation: blink-it steps(1) 1s infinite;
	animation: blink-it steps(1) 1s infinite;
}

p {
	font-family: Arial;
	font-size: 16px;
}
