<div>

	<h1 class="page-header">Consoles de jeux disponibles</h1>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="console.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Ajouter
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>	

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span></span></th>
                    <th><span>NOM</span></th>                    
                    <th><span>FABRICANT</span></th>
                    <th><span>GENERATION</span></th>
                    <th><span>BITS</span></th>
                    <th><span>EMULATEUR PAR DEFAUT</span></th>
                    <th><span>EMULATEURS</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="console in vm.consoles | orderBy:'name'">
                    <td><a ui-sref="console-detail({id:console.id})"><img ng-show="console.pathIcon" style="width:40px; margin-right:10px" ng-src="{{console.pathIcon}}" alt="..."></a></td>
                    <td>{{console.name}}</td>                    
                    <td>{{console.manufacturer}}</td>
                    <td>{{console.generation}}</td>
                    <td>{{console.bits}}</td>
                    <!-- td>{{console.resume}}</td-->
                    <td>
                    	<span ng-repeat="emulators in console.emulators">
                        	<a ng-show="emulators.id==console.defaultEmulatorId" ui-sref="emulator-detail({id:console.defaultEmulatorId})">{{emulators.name}}</a>
                        </span>                        
                    </td>
                    <td>
                        <span ng-repeat="emulators in console.emulators">
                            <a class="form-control-static" ui-sref="emulator-detail({id: emulators.id})">{{emulators.name}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                        	<button popover-trigger="mouseenter" uib-popover="Mettre à jour les roms" popover-placement="left" 
                        			ng-show="console.pathRomsFolder" type="submit" 
                        			ui-sref="console-scan({id:console.id, name: console.abbreviation})"
                                   class="btn btn-success btn-md">
                                <span class="glyphicon glyphicon-refresh"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <!-- button type="submit"
                                    ui-sref="console-detail({id:console.id})"
                                    class="btn btn-info btn-xs">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="console.edit({id:console.id})"
                                    class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="console.delete({id:console.id})"
                                    class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
