<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true" ng-click="vm.clear()">&times;</button>	
	<h4 class="modal-title" id="myRomLabel">Mise à jour des roms de la {{vm.name}} ({{vm.progress.progression}}%)</h4>
</div>

<div class="modal-body" style="min-height:100px;max-height:300px; overflow: auto; position:relative">
	
	<div ng-show="vm.loading" style="margin-top:50px">
		<img src="content/images/ajax-loader.gif"  class="img-responsive center-block" />
	</div> 
	
	<div ng-show="!vm.loading && vm.updatedRoms && vm.updatedRoms.length>0" ng-repeat="updatedRom in vm.updatedRoms">
		<span ng-show="updatedRom.status=='DELETED'" style="color:red" class="glyphicon glyphicon-remove"></span>
		<span ng-show="updatedRom.status=='DELETED'" style="color:red">{{updatedRom.name}}</span>					
						
		<span ng-show="updatedRom.status=='ADDED'" style="color:green" class="glyphicon glyphicon-ok"></span>
		<span ng-show="updatedRom.status=='ADDED'" style="color:green">{{updatedRom.name}}</span>
	</div>
	
	<br/>	

	<div ng-show="!vm.loading && vm.updatedRoms && vm.updatedRoms.length==0">
    	<div class="alert alert-info">
  			<strong>La base de données est à jour.</strong>
		</div>    	
    </div>
	
</div>
